<nav>
  <% if @back.present? %>
    <span>
      <%= link_to(@back, title: @back_title) do %>
        <%== icon_back_svg %>
      <% end %>
    </span>
  <% end %>
  <span><%= page_title %></span>
  <span></span>
</nav>

<div class="column">
  <ul class="actions">
    <li><%= link_to t('.new'), new_manage_password_path %></li>
  </ul>

  <table>
    <tr>
      <th>Begint met</th>
      <th>Aangemaakt op</th>
    </tr>
  <% @passwords.each do |password| %>
    <tr>
      <td><%= password.prefix %>***</td>
      <td><%= t(password.created_at)%></td>
    </tr>
  <% end %>
  </table>
</div>