<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "manage", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<%= tag.body(class: controller.controller_name) do %>
  <%= yield %>
<% end %>
</html>
